In [1]:
import pandas as pd 
import json 
import numpy as np

In [7]:
json_object = open('./ds/allreviews.json', 'rb')
reviews = json.load(json_object)
json_object.close()

In [20]:
dfs = []
for info in reviews: 
    n = len(info['reviews']) 
    status_len = len(info['time.status'])

    
    df = {
        'place':[info['place']]*n, 
        'reviews': info['reviews'], 
        'place_rating':[info['rating']]*n, 
    }

    dfs.append(pd.DataFrame(df))

In [18]:
articles = {
    4527:'How soon do effects start after shingrix ? ', 
    5111:'The murder of the grim sisters. ', 
    3338:'What to wear to a funeral ? ', 
}

In [23]:
df = pd.concat(dfs)

In [37]:
places = pd.read_csv(r'C:\Users\hp\OneDrive\Desktop\Projects\place-recommendation\travel_recommender\ds\places.csv')
data = pd.merge(
    left = df, 
    right = places, 
    left_on = 'place', 
    right_on = 'place', 
    how = 'inner'
)

array(['Jehangir Art Gallery', 'Gorai Beach', 'Madh Island',
       'Kalamb Beach', 'Marve Beach', 'Versova Beach', 'Aksa Beach',
       'Worli Sea Face'], dtype=object)

,place,location,description
0,Elephanta Caves,mumbai,"An UNESCO World Heritage Site, Elephanta Cave..."
1,"Marine Drive, Mumbai",mumbai,Starting from the north of Nariman Point and ...
2,Juhu Beach,mumbai,"The most popular beach in Mumbai, Juhu beach ..."
3,Colaba Causeway,mumbai,One of the most crowded and electrifying plac...
4,Gateway of India,mumbai,One of the most distinguished monument in Mum...
...,...,...,...
3210,Yak Safari,gangtok,Experiencing Yak Ride is one of the most esse...
3211,Mountain Biking in Gangtok,gangtok,Another one of the thrilling activities and t...
3212,9’ine Native Cuisine,gangtok,9’ine Native Cuisine is a dainty cafe located...
3213,Baker's Cafe,gangtok,Baker's Cafe is one of the most popular and p...
3214,Phodong Monastery,gangtok,"Located in Phodong near Gangtok in Sikkim, Ph..."